<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="django-form">
        <form id="login-form" method="post">
            <p id="signup-form-tag">Register Here</p>
                {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label_tag }}</p>
                <p>{{ field }}</p>
                <p>{{ field.errors }}</p>
            {% endfor %}
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>

   
